/**----------Variables-------*/
:root {
  --color-dark: #2e2f42;
  --color-light: #f4f4fd;
  --color-text: #434455;
  --color-primary-brand: #4d5ae5;
  --color-pressed: #404bbf;
  --color-whitebg: #ffffff;
  --color-accent: #e7e9fc;
  --color-subtle: #8e8f99;
  --color-success: #31d0aa;
  --color-modalbg: #fcfcfc;
  --transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/**-----------Global----------*/

body {
  background-color: var(--color-whitebg);
  color: var(--color-text);
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  clip-path: inset(100%);
}

.container {
  min-width: 320px;
  width: 100%;
  max-width: 428px;
  margin: 0 auto;
  padding-right: 16px;
  padding-left: 16px;
}

/**-----------Header----------------*/

.header {
  border-bottom: 1px solid var(--color-accent);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--color-primary-brand);
  font-weight: 800;
  font-size: 18px;
  font-family: 'Raleway', sans-serif;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.header-logo-span {
  color: var(--color-dark);
}

.header-mobile-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;
}

.mobile-menu-icon {
  fill: var(--color-dark);
}

.header-menu {
  display: flex;
  gap: 40px;
}

/**-------------Main-S1--Hero----------------*/

.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.hero {
  margin: 0 auto;
  padding-top: 112px;
  padding-bottom: 112px;
  background-color: var(--color-dark);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bg_office_mob.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg_office_mob@2x.jpg);
  }
}

.title {
  margin: 0 auto;
  color: var(--color-dark);
  text-align: center;
  text-transform: capitalize;
}

.hero-title {
  font-size: 32px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  max-width: 320px;
  margin-bottom: 72px;
  color: var(--color-whitebg);
}

.hero-btn {
  display: block;
  min-width: 169px;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-primary-brand);
  color: var(--color-whitebg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
}

/**-------------Main-S2--Choose-------*/

.choose-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.choose-list-block {
  display: none;
}

.choose-list-item {
  width: 100%;
}

.choose-list-title {
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 8px;
}

.choose-list-text {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**-------------Main-S3--Products-------*/

.product {
  display: none;
}

/**-------------Main-S4--Team-------*/

.team {
  background-color: var(--color-light);
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.team-list-item {
  /* max-width: 264px; */
  border-radius: 0px 0px 4px 4px;
  background-color: var(--color-whitebg);
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  margin: 0 auto;
}

.team-list-container {
  padding: 32px 16px;
}

.team-list-title {
  color: var(--color-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.team-list-text {
  margin-bottom: 8px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.team-soc-list {
  display: flex;
  justify-content: space-between;
}

.team-soc-item {
  width: 40px;
  height: 40px;
}

.team-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-primary-brand);
}

.team-soc-icon {
  fill: var(--color-light);
}

/**-------------Main-S5--Customers-------*/

.customers-title {
  margin-bottom: 72px;
}

.customers-list {
  display: flex;
  flex-wrap: wrap;
  gap: 72px 16px;
}

.customers-list-item {
  width: calc((100% - 16px) / 2);
  height: 88px;
}

.customers-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border: 1px solid var(--color-subtle);
  border-radius: 4px;
  color: var(--color-subtle);
}

.customers-item-icon {
  fill: currentColor;
}

/**-------------Footer-------------------*/

.footer {
  padding: 96px 0;
  background-color: var(--color-dark);
}

.footer-logo-container {
  max-width: 268px;
  margin: 0 auto;
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
  text-align: center;
}

.footer-logo-span {
  color: var(--color-light);
}

.footer-text {
  color: var(--color-light);
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 72px;
}

.footer-soc-container {
  max-width: 208px;
  margin: 0 auto;
}

.footer-soc-text {
  margin-bottom: 16px;
  color: var(--color-whitebg);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.footer-soc-list {
  display: flex;
  gap: 16px;
  width: 208px;
  height: 40px;
  margin-bottom: 72px;
}

.footer-soc-item {
  width: 40px;
  height: 40px;
}

.footer-soc-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-primary-brand);
}
.foter-soc-icon {
  fill: var(--color-light);
}

.footer-subscribe-container {
  margin: 0 auto;
}

.footer-subscribe-text {
  margin-bottom: 16px;
  color: var(--color-whitebg);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.footer-input {
  width: 100%;
  height: 40px;
  padding: 0px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  margin-bottom: 16px;
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 165px;
  padding: 8px 24px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-primary-brand);
  color: var(--color-whitebg);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
  margin: 0 auto;
}

.footer-btn-icon {
  margin-left: 16px;
  fill: var(--color-whitebg);
}

/**------------Page2-Portfolio--------------*/

.filter {
  padding-top: 96px;
}

.filter-menu {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
}

.filter-menu-btn {
  padding: 12px 24px;
  border: 1px solid var(--color-accent);
  border-color: var(--color-accent);
  border-radius: 4px;
  background-color: var(--color-light);
  color: var(--color-primary-brand);
  font-weight: 500;
  font-size: 16px;
  font-family: inherit;
  line-height: 1.5;
  letter-spacing: 0.04em;
  cursor: pointer;
  transition: color var(--transition), background-color var(--transition),
    border-color var(--transition), box-shadow var(--transition);
}

/* .filter-menu-btn:hover,
.filter-menu-btn:focus {
  border: 1px solid transparent;
  background-color: var(--color-pressed);
  color: var(--color-whitebg);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
} */

.filter-result {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
}

.filter-result-item {
  width: calc((100% - 48px) / 3);
}

.filter-result-link {
  display: block;
  transition: box-shadow var(--transition);
}

/* .filter-result-link:hover,
.filter-result-link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
} */

.filter-result-cover {
  position: relative;
  overflow: hidden;
}

.filter-cover-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  padding: 40px 32px;
  background-color: var(--color-primary-brand);
  color: var(--color-light);
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: transform var(--transition);
  transform: translateY(100%);
}

/* .filter-result-link:hover .filter-cover-text,
.filter-result-link:focus .filter-cover-text {
  transform: translate(0);
} */

.filter-result-container {
  padding: 32px 16px;
  border: 1px solid var(--color-accent);
  border-top: none;
}

.filter-result-title {
  margin-bottom: 8px;
  color: var(--color-dark);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.filter-result-text {
  color: var(--color-text);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

/**-----------Backdrop-------------*/

.backdrop {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background-color: rgba(46, 47, 66, 0.4);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100vw;
  max-width: 392px;
  min-height: 584px;
  padding: 72px 16px 24px;
  border-radius: 4px;
  background-color: var(--color-modalbg);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  z-index: 999;
}

.modal-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: var(--color-accent);
  cursor: pointer;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -25%) scale(0);
}

.modal-text {
  margin-bottom: 16px;
  color: var(--color-dark);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
}

.modal-field {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  color: var(--color-subtle);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.input-wrap {
  position: relative;
}

.modal-input {
  width: 100%;
  height: 40px;
  padding-right: 16px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  color: var(--color-dark);
  outline: transparent;
  font-size: 14px;
  transition: border-color var(--transition);
}

.modal-input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: var(--color-dark);
  transition: fill var(--transition);
  transform: translateY(-50%);
}

.modal-input:focus {
  border-color: var(--color-primary-brand);
}

.modal-input:focus + .modal-input-icon {
  fill: var(--color-primary-brand);
}

.modal-field-textarea {
  margin-bottom: 16px;
}

.modal-textarea {
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  color: rgba(46, 47, 66, 0.4);
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  resize: none;
  transition: border-color var(--transition);
}

.modal-textarea::placeholder {
  color: rgba(46, 47, 66, 0.4);
}

.modal-textarea:focus {
  border-color: var(--color-primary-brand);
}

.modal-field-check {
  margin-bottom: 24px;
}

.check-text {
  color: var(--color-subtle);
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
}

.check-link {
  color: var(--color-primary-brand);
  text-decoration: underline;
  transition: color var(--transition);
}

.modal-check-visible {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  fill: transparent;
  transition: background-color var(--transition), border var(--transition),
    fill var(--transition);
}

.modal-check:checked + .check-text .modal-check-visible {
  border: none;
  background-color: var(--color-pressed);
  fill: var(--color-light);
}

.form-button {
  display: block;
  min-width: 169px;
  height: 56px;
  margin: 0 auto;
  padding: 16px 32px;
  border: none;
  border-radius: 4px;
  background-color: var(--color-primary-brand);
  color: var(--color-whitebg);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  text-align: center;
  cursor: pointer;
}

/**---------Mobile-menu------------*/

.mobile-menu-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(46, 47, 66, 0.1);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
  outline: none;
}

.mobile-menu-close {
  fill: var(--color-dark);
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  /* right: 0;
  bottom: 0; */
  width: 100vw;
  height: 100%;
  padding: 80px 35px 40px 40px;
  background-color: var(--color-whitebg);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;

  transform: translateX(100%);
  transition: transform var(--transition);
}

.mobile-menu-container.is-open {
  transform: translateX(0);
}

.mobile-menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: #fff;
}

.mobile-menu-item {
  margin-bottom: 40px;
}

.mobile-menu-link {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-dark);
}

.link-act {
  color: var(--color-pressed);
}

.mobile-adr-container {
}

.mobile-adr-phone {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-primary-brand);
}

.mobile-adr-mail {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--color-text);
}

.mobile-adr-item:not(:last-child) {
  margin-bottom: 40px;
}

.mobile-adr-item:last-child {
  margin-bottom: 48px;
}

.mobile-soc-container {
  max-width: 328px;
}

.mobile-soc-list {
  display: flex;
  justify-content: space-between;
}

/**-----------Media-----------------------*/

@media screen and (max-width: 427px) {
  .mobile-adr-phone {
    font-size: 24px;
  }
}

@media screen and (max-width: 767px) {
  .header-menu {
    display: none;
  }
}

/**------------Mobile-----------------------*/
@media screen and (min-width: 428px) {
  .hero-title {
    font-size: 36px;
  }
}

/**------------Tablet-----------------------*/

@media screen and (min-width: 768px) {
  .header-mobile-menu {
    display: none;
  }

  .container {
    max-width: 768px;
  }

  .hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg_office_tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg_office_tab@2x.jpg);
    }
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;
    max-width: 496px;
    margin-bottom: 36px;
  }

  .choose-list {
    flex-wrap: wrap;
    flex-direction: row;
    gap: 72px 24px;
  }

  .choose-list-item {
    width: calc((100% - 24px) / 2);
  }

  .choose-list-title {
    text-align: left;
  }

  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 64px 24px;
    margin-left: 92px;
    margin-right: 92px;
  }

  .team-list-item {
    width: calc((100% - 24px) / 2);
  }
}

/**------------Desctop-----------------------*/

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding-right: 15px;
    padding-left: 15px;
  }

  .hero {
    padding-top: 188px;
    padding-bottom: 188px;
    max-width: 1440px;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg_office.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg_office@2x.jpg);
    }
  }

  .hero-title {
    margin-bottom: 48px;
  }

  .choose-list-item {
    width: calc((100% - 72px) / 4);
  }

  .choose-list-block {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: var(--color-light);
  }

  .choose-list-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .choose-list-text {
    font-weight: inherit;
  }

  .product {
    display: block;
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .product-title {
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-bottom: 72px;
  }

  .product-list {
    display: flex;
    gap: 24px;
  }

  .product-list-item {
    /* width: 100%; */
  }

  .team {
    padding-top: 120px;
    padding-bottom: 120px;
  }

  .team-list {
    margin: 0;
  }

  .team-list-item {
    width: calc((100% - 72px) / 4);
  }
}
