.header-logo {
  /* display: inline-block; */
  /* margin-right: 76px; */
  /* padding-bottom: 24px; */
}

.header-nav {
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: flex-end; */
}

.header-menu-link {
  display: inline-block;
  padding-top: 24px;
  padding-bottom: 24px;
  color: var(--color-dark);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color var(--transition);
}

/* .header-menu-link:focus,
.header-menu-link:hover {
  color: var(--color-pressed);
} */

.link-active {
  position: relative;
  color: var(--color-pressed);
}

.link-active::after {
  content: '';
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--color-pressed);
}

.header-adr {
  font-style: normal;
}

.header-adr-list {
  display: flex;
  gap: 40px;
}

.header-adr-link {
  color: currentColor;
  line-height: 1.5;
  letter-spacing: 0.02em;
  transition: color var(--transition);
}

.header-adr-link:hover,
.header-adr-link:focus {
  color: var(--color-pressed);
}

/**-------------Main-S1--Hero-------*/

.hero-btn {
  transition: background-color var(--transition);
}

.hero-btn:hover,
.hero-btn:focus {
  border-color: var(--color-pressed);
  background-color: var(--color-pressed);
}

/**-------------Main-S2--Choose-------*/

/**-------------Main-S4--Team-------*/

.team-soc-link {
  transition: background-color var(--transition);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--color-pressed);
}

/**-------------Main-S5--Customers-------*/

.customers {
  padding: 120px 0;
}

.customers-item-link {
  transition: border-color var(--transition), color var(--transition);
}

.customers-item-link:hover,
.customers-item-link:focus {
  border-color: var(--color-pressed);
  color: var(--color-pressed);
}

/**-------------Footer-------------------*/

.footer-container {
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* align-items: baseline; */
}

.footer-logo-container {
  /* margin-right: 120px; */
}

.footer-logo {
  display: inline-block;
}

.footer-soc-container {
  /* margin-right: 80px; */
}

.footer-soc-text {
  /* max-width: 98px; */
}

.footer-soc-link {
  /* transition: background-color var(--transition); */
}

/* .footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--color-success);
} */

.footer-subscribe-form {
  /* display: flex; */
  /* gap: 24px;
  justify-content: center;
  align-items: center; */
}

.footer-btn {
  /* transition: background-color var(--transition); */
}

/* .footer-btn:hover,
.footer-btn:focus {
  background-color: var(--color-pressed);
} */

/**-----------Backdrop-------------*/

.backdrop {
  transition: opacity var(--transition), visibility var(--transition);
}

.modal {
  width: 408px;
  padding: 72px 24px 24px;
  transition: transform var(--transition);
}

.modal-btn {
  transition: background-color var(--transition), border var(--transition);
}

/* .modal-btn:hover,
.modal-btn:focus {
  border: none;
  background-color: var(--color-pressed);
} */

.modal-btn-close {
  transition: fill var(--transition);
}

/* .modal-btn:hover .modal-btn-close,
.modal-btn:focus .modal-btn-close {
  fill: var(--color-whitebg);
} */

/* .check-link:hover,
.check-link:focus {
  color: var(--color-pressed);
} */

.modal-check:focus + .check-text .modal-check-visible {
  /* border-color: var(--color-pressed); */
}

.form-button {
  transition: background-color var(--transition);
}

/* .form-button:hover,
.form-button:focus {
  background-color: var(--color-pressed);
} */
