.header-menu-link {
  transition: color var(--transition);
}

.header-menu-link:focus,
.header-menu-link:hover {
  color: var(--color-pressed);
}

.header-adr-link {
  transition: color var(--transition);
}

.header-adr-link:hover,
.header-adr-link:focus {
  color: var(--color-pressed);
}

/**-------------Main-S1--Hero-------*/

.hero-btn {
  transition: background-color var(--transition);
}

.hero-btn:hover,
.hero-btn:focus {
  border-color: var(--color-pressed);
  background-color: var(--color-pressed);
}

/**-------------Main-S2--Choose-------*/

/**-------------Main-S4--Team-------*/

.team-soc-link {
  transition: background-color var(--transition);
}

.team-soc-link:hover,
.team-soc-link:focus {
  background-color: var(--color-pressed);
}

/**-------------Main-S5--Customers-------*/

.customers-item-link {
  transition: border-color var(--transition), color var(--transition);
}

.customers-item-link:hover,
.customers-item-link:focus {
  border-color: var(--color-pressed);
  color: var(--color-pressed);
}

/**-------------Footer-------------------*/

.footer-soc-link {
  transition: background-color var(--transition);
}

.footer-soc-link:hover,
.footer-soc-link:focus {
  background-color: var(--color-success);
}

.footer-btn {
  transition: background-color var(--transition);
}

.footer-btn:hover,
.footer-btn:focus {
  background-color: var(--color-pressed);
}

/**-----------Backdrop-------------*/

.backdrop {
  transition: opacity var(--transition), visibility var(--transition);
}

.modal {
  width: 408px;
  padding: 72px 24px 24px;
  transition: transform var(--transition);
}

.modal-btn {
  transition: background-color var(--transition), border var(--transition);
}

.modal-btn:hover,
.modal-btn:focus {
  border: none;
  background-color: var(--color-pressed);
}

.modal-btn-close {
  transition: fill var(--transition);
}

.modal-btn:hover .modal-btn-close,
.modal-btn:focus .modal-btn-close {
  fill: var(--color-whitebg);
}

.check-link:hover,
.check-link:focus {
  color: var(--color-pressed);
}

.modal-check:focus + .check-text .modal-check-visible {
  border-color: var(--color-pressed);
}

.form-button {
  transition: background-color var(--transition);
}

.form-button:hover,
.form-button:focus {
  background-color: var(--color-pressed);
}
